@charset "UTF-8";

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
}

header, nav, main, aside, footer {
    background: #242021;
    display: flex;
    margin: 3px;
}

/* Estilos del encabezado */
header {
    height: 60px;
    flex: 1 1 100vw;
    padding: 5px 30px 5px 90px;
    align-items: center;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    justify-content: center;
    align-items: center;
    flex: 1 1 200px;
    color: white;
}

nav a {
    margin: 0 3%;
    font-size: 15pt;
}

/* Estilos de los botones */
.btn-orc, .btn-forc {
    background: linear-gradient(to right, #05C7F2, #0c7ff2, #335AA6);
    color: white;
    border: none;
}

.btn-orc {
    font-size: 1.5rem;
    width: 160px;
    height: 40px;
}

.btn-forc {
    width: 200px;
    height: 30px;
}

/* Estilos del contenido principal */
main {
    background-image: url("/assets/css/img/marvin-meyer-bfOQSDwEFg4-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 224px);
    flex: 20 1 500px;
    color: white;
    display: block;
}

main section {
    margin: 150px 100px;
}

main span {
    color: #0c7ff2;
}

main h2 {
    font-size: 2.5rem;
}

main h1 {
    font-size: 5rem;
}

/* Estilos de los artículos */
article {
    display: flex;
    background-color: #898787;
}

.image-container {
    flex: 0 1 400px;
    margin: 100px;
}

.image-container img {
    max-width: 100%;
}

.text-container {
    flex: 1;
    margin-top: 100px;
    color: white;
}

.text-container h2 {
    font-size: 3rem;
}

.text-container h2 span {
    font-size: 2.5rem;
    margin-top: 0;
    color: #0c7ff2
}

.text-container p {
    margin: 10px 100px 10px 0;
    text-justify: distribute;
    font-size: 1.5rem;
}

article button {
    margin-top: 10px;
}

/* Estilos de la presentación de diapositivas */
/* Tu CSS existente aquí */

/* Estilos de la presentación de diapositivas */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
	border-radius: 10px;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    header {
        order: 0;
    }

    nav {
        order: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav a {
        margin: 3%;
    }

    main {
        order: 2;
        height: calc(100vh - 330px);
    }

    aside {
        order: 3;
        height: 100px;
    }

    footer {
        order: 4;
    }

    main section {
        margin: 50px 20px;
    }

    main h1 {
        font-size: 3.5rem;
    }

    main h2 {
        font-size: 2rem;
    }

    .image-container, .text-container {
        margin: 50px 0;
    }

    .image-container {
        margin: 0 auto;
    }

    .text-container p {
        margin: 10px 20px;
    }
}

/* Tu CSS existente aquí */

/* Estilos del logo */
#logo {
    margin-right: auto;
    margin-left: 30px;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 717px) {
    /* Tus estilos existentes para pantallas pequeñas aquí */
}


/* Estilos del pie de página */
footer {
    height: 100px;
    flex: 1 1 100vw;
}